.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
    .slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* BOTONES EN GENERAL */
/* Switches */
.btn-switch {
    text-align:center;
}

.btn-modificar {
    text-align:center;
}

.btn-eliminar {
    text-align:center;
}

.btn-ver {
    text-align:center;
}

.btn-envioPassword {
    text-align:center;
}

/* Mostrar visualización del logo */
.img_galeria {
    width: 20%;
    height: auto;
    margin: 1%;
    float: center;
    position: relative;
    background: white;
}

/* Mostrar visualización de la foto de perfil */
.img_fotoPerfil {
    width: 40%;
    height: auto;
    margin: 1%;
    float: center;
    position: relative;
    background: white;
}

.fotoPerfilMiniatura {
    width: 120px;
    height: 120px;
}

.fotoPerfilMiniaturaTabla {
    width: 50px;
    height: 50px;
}

/* Configuración del estilo del perfil trabajador */
.PPB {
    width: 33%;
    margin: 2px;
    padding: 10px;
    height: auto;
    border-radius: 20px;
    border-style: solid;
    position: relative;
}

.PPS {
    width: 33%;
    margin: 2px;
    padding: 10px;
    height: auto;
    border-radius: 20px;
    border-style: solid;
    position: relative;
}

.divISP {
    width: auto;
    height: auto;
    border-radius: 20px;
    /*border-style: solid;*/
}

.PL {
    width: 33%;
    margin: 2px;
    padding: 10px;
    height: auto;
    border-radius: 20px;
    border-style: solid;
    position: relative;
}

/* Vista Subir Documentos */
.pointer {
    cursor: pointer;
}

.documentCards {
    height: 210px;
    width: 100%;
}

.infoCards {
    width: 230px;
}

.documentName {
    position: absolute;
    top: 0px;
    left: 0px;
}

.documentInfo {
    position: absolute;
    top: 73px;
    left: 0px;
    width: 80%;
}

.btns {
    position: absolute;
    top: 135px;
    bottom: 0;
    /*width: 100%;
    background-color: red;
    height: 80px;*/
}

.documentIcon {
    position: absolute;
    right: 15px;
    top: 35px;
}

.dashboardCards {
    height: 100px;
    width: 100%;
}